* {
    box-sizing: border-box;
}

html {
    color: var(--clr-primary-1);
    background-color: var(--clr-primary-base);
}

body {
    margin: 0;
    font-size: 0.875rem
}

canvas {
    background-color: white;
    aspect-ratio: auto 1008 / 840;
    height: auto;
    width: 100%;
}