/* Main Layout */
.main-layout {
    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 1060px) minmax(16px, 1fr);
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1/-1;
}

/* Editing Layout */
.main-editing {
    display: grid;
    grid-template-columns: 80px 1fr 60px 1fr 80px;
}

.main-editing>.editing-panel {
    grid-column: 2;
}

.main-editing>.canvas-preview {
    grid-column: 3/5;
    width: 100%;
    height: 100%;
}

.canvas-actions {
    grid-column: 4;
}

.main-editing>.terms-panel {
    grid-column: 1;
}